<!--左側-->
<div class="col-lg-4">


  　<h2>User info</h2>
  <!--プロフ画像-->
  　<table class="table">
    <tbody>
      <tr></tr>
    <tr>
  	  <th>name</th>
  	  <!--<th>ユーザーネーム</th>-->
    </tr>
    <tr>
  	  <th>introduction</th>
  	  <th></th>
    </tr>
  　</tbody></table>
    <div class="row">
      <!--edit画面-->
      <a class="btn btn-outline-secondary btn-block fas fa-user-cog edit_user_103" href="/users/edit"></a>
    </div>
    <h1>New book</h1>
    <%= form_with model: @book, local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>opinion</h4>
      <%= f.text_area :opinion %>
      <%= f.submit 'CreateBook' %>
  <% end %>
</div>

<!--右側-->
<div class="container-8">
   <div class="col-lg-8">
      <h1>Books</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.opinion %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
</div>



